<!DOCTYPE html>
<html>
<body>
<h3> hello vue.js </h3>
<div id="app">
    <ul>
        <li v-for="product in products">
            <!-- <input type="number" v-model.number="product.exist"> -->
             {{ product }}
            <!--
            <span v-if= "product.exist ===0">
                - out of stock
            </span>
            <button @click="product.exist += 1">
                +
            </button>
            -->
        </li>
    </ul>
<!--    <h2>Total inventory {{ totalProducts }}</h2> -->
</div>

<script src="vue.js"></script>
<script>
 const app = new Vue(
    {
     el: '#app',
     data: {
        products: [
         'uno',
         'dos',
         'tres'
        ]
     },
	/*
     computed : {
         totalProducts () {
             return this.products.reduce((sum, product) => 
                    { 
                        return sum + product.exist 
                    }, 0)    
        }
     }, 
     created() {
        fetch('http://localhost:8080/api/devices')
        .then(response => response.json())
        .then(json => {
            this.products = json
        })
     }
     */
 })
</script>

</body>
</html>


